/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient {
  border-image: linear-gradient(45deg, #8b6212, #01aeda) 1;
}

.color-title {
  color: #71e4ee;
}

.bg-icon-gradient {
  background-image: linear-gradient(to right bottom, #9dc0fa, #58f4e9);
}

.border-button {
  border-color: #58f4e9;
  border-radius: 25px;
  color: #58f4e9;
}

.bg-gradient {
  background-image: linear-gradient(to right bottom, #3b445b, #000000);
}
